@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900 dark:text-slate-100 bg-background-light dark:bg-background-dark;
    touch-action: manipulation;
  }
}